.media-object {
    width: 100%;
}

.portfolioContainer img {
width:380px !important;
height:250px !important;
}

.portFolioContainer .single-item #productos .img{
width:380px !important;
height:250px !important;
}

.img {
width:380px !important;
height:250px !important;
}


.btn-template {
    background: #1cb9c8 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: auto;
}

.btn-template:hover {
    background: #058c99;
    color: #fff;
}

.header-area {
    background: rgba(0, 0, 0, 1) none repeat scroll 0 0 !important;
}

.header-back {
    height: 100px;
    background: #000;
}

.cargo-titulo{
    font-size: 12px;
    display: block;
    margin-top: 4px;
    margin-bottom: -7px;
}

.map-width iframe{
    width: 100%;
}

.contenido_media{
    padding-top: 12px;
    padding-left: 8px;
    padding-bottom: 20px;
}

@media (min-width: 0px) and (max-width: 768px) {
    .header-back{
        display: none;
    }
    .knob.knob-nopercent {
        font-size: 0px !important;
    }

    .single-skill h4.progress-h4 {
        margin: 0px 0 0 10px;
    }
}


@media only screen and (max-width: 480px) and (min-width: 321px){
    .portfolio4-area .single-portfolio-area:hover .portfolio2-overley .content p {
        bottom: -14% !important;
        opacity: 1;
    }
}

@media only screen and (max-width: 480px) and (min-width: 321px){
    .owl-theme .owl-controls .owl-nav div {
        margin-top: 48px !important;
    }
    .slider-area .title1 {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .slider-area p {
        font-size: 14px;
    }
    .slider-area .medium-text {
        letter-spacing: 5px;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .slider-area .read-more ul li a {
        padding: 5px 15px;
        margin: 0 10px;
        font-size: 11px;
    }
    .slider-content{
        display: block !important;
    }
    .slider-area .read-more ul li:last-child a {
        padding: 5px 11px;
        margin: 0 10px;
        font-size: 11px;
    }
    .slider-area .read-more {
        margin-top: 5px;
    }
}