.media-object {
    width: 100%;
}

.btn-template {
    background: #1cb9c8 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: auto;
}

.btn-template:hover {
    background: #058c99;
    color: #fff;
}