AddDefaultCharset utf-8
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !-d 
RewriteCond %{REQUEST_URI} !-f 
RewriteCond %{REQUEST_URI} !^/producto/(.*) [OR]
RewriteCond %{REQUEST_URI} !^/servicio/(.*) [OR]
RewriteCond %{REQUEST_URI} !^/categoria/(.*) [OR]
RewriteCond %{REQUEST_URI} !^/blog/(.*) [OR]
RewriteRule ^producto/([^/]*) producto-detalle.php?slug=$1
RewriteRule ^servicio/([^/]*) servicio-detalle.php?slug=$1
RewriteRule ^categoria/([^/]*) categorias.php?slug=$1
RewriteRule ^categoria/([^/]*) categorias.php?slug=$1&p=2
RewriteRule ^blog/([^/]*) blog-post.php?slug=$1